:root {
  --text-color: #333;
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: var(--text-color);
    padding: 0 10px;
    font-family: sans-serif
}

h1, h2, h3, nav {
    line-height: 1.2;
    font-variant: small-caps;
}

li {
    list-style-type: none;
}

input:invalid {
	border-color: red;
}

.ingredient {
	padding-left: 1em;
	padding-bottom: 1em;
    border-style: solid;
	margin-top: 0.5em;
}

.step {
	margin-top: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
    border-style: solid;
}

.step-deleter {
	margin-top: 1em;
}
