<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editor</title>
    <link rel="stylesheet" href="{{ form_css_path }}">
    <script src="{{ form_js_path }}">
    </script>
  </head>

  <body onload="setup_form_handler();">
    <h1>Editor per ricette</h1>
    <p>Crea una ricetta da inserire nel sito usando il form!</p>

    <form id="recipe-form">
        <h2>Titolo</h2>

        <div id="title">
          <div><input type="text" name="label" placeholder="Nome" /></div>
          <div><input type="text" name="description" placeholder="Descrizione" /></div>
        </div>

        <h2>Ingredienti</h2>

        <button type="button"
                id="ingredient_adder"
                onclick="addIngredient('ingredients', false)">
          Aggiungi ingrediente
        </button>

        <div id="ingredients"></div>

        <h2>Passaggi</h2>
        <button type="button"
                id="step-1-ingredient-adder"
                onclick="addStep()">
          Aggiungi un nuovo passaggio
        </button>

        <div id="steps"></div>


        <h2>Completo!</h2>
        <button type="submit">
          Scarica la ricetta
        </button>

    </form>
  </body>
</html>
