<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ css_path }}">
  </head>

  <body>
    <h1>Ricettario L&S</h1>
    <p>Ecco a voi una selezione di ricette sfiziose provate e migliorate da noi :)</p>
    <p>Buon appetito!</p>

    <ul>
      {% for item in items %}
      <li>
        <div class="recipe-label">
          <a href="{{ item.url }}">{{ item.label }}</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
