<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ label }}</title>
    <link rel="stylesheet" href="{{ css_path }}">
  </head>

  <body>
    <h1>{{ label }}</h1>

    {%- autoescape false %}
    <div role="doc-subtitle">{{ description | replace("\n", "<br/>") }}</div>
    {%- endautoescape %}

    <h2>Ingredienti</h2>
    <ul>
      {%- for ingredient in ingredients %}
      <li>
        {%- if ingredient.comment is defined %}
        <details>
          <summary class="ingredient-label">
            {{ ingredient.label }}
          </summary>
          <div class="ingredient-comment">{{ ingredient.comment }}</div>
        </details>
        {%- else %}
        <div class="ingredient-label">
          {{ ingredient.label }}
        </div>
        {%- endif %}
      </li>
      {%- endfor %}
    </ul>

    <h2>Passaggi</h2>

    {%- for step in steps %}
    <header>
      <h3 class="step-title">{{ loop.index }}) {{ step.label }}</h3>
      {%- if step.duration is defined %}
      <span class="step-duration">🕓 {{ step.duration }}</span>
      {%- endif %}
    </header>

    <ul>
      {%- for ingredient in step.ingredients %}
      <li>
        {%- if ingredient.comment is defined %}
        <details>
          <summary class="ingredient-label">
            {{ ingredient.label }} {{ ingredient.quantity }}
          </summary>
          <div class="ingredient-comment">{{ ingredient.comment }}</div>
        </details>
        {% else %}
        <div class="ingredient-label">
          {{ ingredient.label }} {{ ingredient.quantity }}
        </div>
        {%- endif %}
      </li>
      {%- endfor %}
    </ul>

    {%- autoescape false %}
    <div class="step-description">
      {{ step.description | replace("\n", "<br/>") }}
    </div>
    {% endautoescape -%}
    {%- endfor %}

    <nav>
      <a href="{{ homepage_path }}">Home</a>
    </nav>
  </body>
</html>
